<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.kapla.mapper.CartMapper">

    <select id="getList" resultType="CartVO">
       SELECT 
       		item.item_no, item.NAME as item_name, cart.quantity , item.price, img.url
       FROM 
       		KAPLA_CART cart, KAPLA_ITEM item, KAPLA_ITEM_IMAGE img
       WHERE
       		cart.ITEM_NO  = item.ITEM_NO  
		AND 
			item.ITEM_NO  = img.ITEM_NO
		AND
			USER_NO =(SELECT user_no FROM KAPLA_USER WHERE id=#{id})
    </select>

</mapper>