<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.kapla.mapper.ItemMapper">

	<select id="getList" resultType="com.global.kapla.vo.ItemVO">
		<![CDATA[
        	select * from
        		 kapla_item, kapla_item_image 
        	where
        		 kapla_item.item_no = kapla_item_image.item_no 
        	and 
        		 category_no = #{category_no} order by kapla_item.item_no
    	]]>	
	</select>
	
	<select id="productView" resultType="com.global.kapla.vo.ItemVO">
		<![CDATA[
        	SELECT * FROM
        		 kapla_item, kapla_item_image
         	WHERE
         		 kapla_item.item_no = kapla_item_image.item_no 
         	and 
         		 kapla_item.item_no = #{item_no} 
    	]]>	
	</select>
	
 	<insert id="insertItemToCart" >
		MERGE INTO KAPLA_CART 
		USING dual
		ON (USER_NO =(select user_no from kapla_user where id=#{id}))
		WHEN MATCHED  THEN 
			UPDATE SET QUANTITY = (SELECT QUANTITY FROM KAPLA_CART WHERE USER_NO = (select user_no from kapla_user where id=#{id}))+#{quantity}
		WHEN NOT MATCHED THEN
		 insert (cart_no, item_no, user_no, quantity) values (cart_no_seq.nextval, #{item_no}, (select user_no from kapla_user where id=#{id}), #{quantity})
	</insert>
	
	
</mapper>