<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.global.kapla.mapper.UserMapper">

<sql id="user">
	user_no,
	id,
	password,
	name,
	email,
	address,
	reg_date

</sql>

   <select resultType="UserVO" id="getUser">
   			select <include refid="user"/> from KAPLA_USER
   </select>
    
    <select id="findUser" resultType="int">
    	select count(*) from KAPLA_USER where id=#{id}
    </select>
    
    <insert id="insertUser">
    	insert into KAPLA_USER (user_no, id, password, email) values ( user_seq.nextval, #{id}, #{password}, #{email} )
    </insert>
</mapper>