@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body {
	margin: 0;
}

/* header */
.header {
	position: relative;
	top: 0;
	z-index: 3;
	width: 100%;
}
.headerMain {
	position: absolute;
	top: 0;
	z-index: 3;
	width: 100%;
}
.border-none {
	border: none;
}
.border-none:focus {
	outline: none !important;
	box-shadow: none !important;
}

/******************* nav ****************/
.mainNav {
	top: 0;
	width: 100%;
	z-index: 3;
	color : white;
	text-align: center;
}

.homeBtn {
	font-family: 'Lobster', cursive;
	font-size: 30px;
}	
article {
	margin-top : 10em;
}


span a {
	margin: 2em;
	text-decoration: none;
	color : black;
}

/************ cartModal ***************/
	
#sum {
	text-align: left;
}

#space {
	width: 40%;
}

#space2 {
	width: 80%;
}

.space3 {
	display: block;
	height: 25px;
}



.detailcontainer {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 68%;
	height: 100%;
	text-align: center;
}

.itemname {
	width: 100%;
	display: block;
}

.horizontalcontainer {
	display: flex;
	justify-content: space-between;
	width: 105%;
}

.itemcost {
	display: inline-block;
}

input[type='number'] {
	text-align: center;
	size: 3;
}

.itemsum {
	display: inline-block;
}

/*
	main.jsp
	김도형
	23.01.10
 */ 
.#main_video {
	position: relative; 
	top: 0; 
	left: 0; 
	object-fit: cover;
}
.headerMenu{
	position: relative; 
	text-align: right; 
	color: white; 
	margin-top: 3em;
}
/*
	order.jsp
	김도형
	23.01.10
 */ 
 .form-check-input {
 	margin-left: 0 !important;
 }
 .orderMain {
		margin: 0 auto;
		width: 60%
		
}

.orderTable {
	border-top : 2px solid #cecece;
	border-bottom : 2px solid #cecece;
	caption-side: top;
	width: 100%;
	
}
.wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.orderTable td:first-child {
	background-color: #f4f4f4;
	border: solid #e4e4e4;
	border-width : 0 1px 0 1px;
	padding: 7px 10px 7px 15px;
	width: 226px
}

.orderTable td:last-child {
	padding: 7px 10px 7px 15px;
}	

.totalPrice {
	text-align: right;
	border: solid #e4e4e4;
	margin-top: 20px;
	padding: 25px 30px 10px 15px;
}

.totalPrice h3 {
	display: inline-block;
}

/* login페이지 */
.loginMain {
	margin: 0 auto;
	width: 40%;
	padding-top: 8em;
}

.form-floating {
	margin : 10px 0;
}

.loginFormBtn {
	padding: 15px 0;
	width: 49%;
}