@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body {
	margin: 0;
}

	dl, ol, ul, li  { list-style: none; padding : 0; display: inline-block;}
	li a { text-decoration: none; }
	em { font-style: normal; font-weight: normal; text-align: left;}
	
	/* td 가운데정렬 추가 */
	td {vertical-align: middle;}
	/* 리스트 스타일 삭제, 링크 내 밑줄 삭제 */

/* header */
.header {
	position: relative;
	top: 0;
	z-index: 3;
	width: 100%;
}
.headerMain {
	position: absolute;
	top: 0;
	z-index: 3;
	width: 100%;
}
.border-none {
	border: none;
}
.border-none:focus {
	outline: none !important;
	box-shadow: none !important;
}

/******************* nav ****************/
.mainNav {
	top: 0;
	width: 100%;
	z-index: 3;
	color : white;
	text-align: center;
}

.homeBtn {
	font-family: 'Lobster', cursive;
	font-size: 30px;
}	
article {
	margin-top : 5em;
}


span a {
	margin: 2em;
	text-decoration: none;
	color : black;
}

/************ cart ***************/
	
#sum {
	text-align: left;
}

#space {
	width: 40%;
}

#space2 {
	width: 80%;
}

.space3 {
	display: block;
	height: 25px;
}



.detailcontainer {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 68%;
	height: 100%;
	text-align: center;
}

.itemname {
	width: 100%;
	display: block;
}

.horizontalcontainer {
	display: flex;
	justify-content: space-between;
	width: 105%;
}

.itemcost {
	display: inline-block;
}

input[type='number'] {
	text-align: center;
	-moz-appearance : textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
}

.itemsum {
	display: inline-block;
}

.btn_area {
    display: inline-block;
    vertical-align: middle;
}

.cart_btn  {
	width: 25px; 
	height: 17px;
	border: none;
	display: block;
}

.up {
	background: url("/img/btn_count_up.png") no-repeat left top;
}
.down {
	background: url("/img/btn_count_down.png") no-repeat left top;
}

.table {
	margin: 0 auto;
}


.itemimg {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
}
/*
	main.jsp
	김도형
	23.01.10
 */ 
#main_video {
	position: relative; 
	top: 0; 
	left: 0; 
	object-fit: cover;
}
.headerMenu{
	position: relative; 
	text-align: right; 
	color: white; 
	margin-top: 3em;
}
/*
	order.jsp
	김도형
	23.01.10
 */ 
 .form-check-input {
 	margin-left: 0 !important;
 }
 .orderMain {
		margin: 0 auto;
		width: 60%
		
}

.orderTable {
	border-top : 2px solid #cecece;
	border-bottom : 2px solid #cecece;
	caption-side: top;
	width: 100%;
	
}
.wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.orderTable td:first-child {
	background-color: #f4f4f4;
	border: solid #e4e4e4;
	border-width : 0 1px 0 1px;
	padding: 7px 10px 7px 15px;
	width: 226px
}

.orderTable td:last-child {
	padding: 7px 10px 7px 15px;
}	

.totalPrice {
	text-align: right;
	border: solid #e4e4e4;
	margin: 20px auto;
	padding: 25px 30px 10px 15px;
}

.totalPrice h3 {
	display: inline-block;
}

/* login페이지 */
.loginMain {
	margin: 0 auto;
	width: 40%;
	padding-top: 8em;
}

.form-floating {
	margin : 10px 0;
}

.loginFormBtn {
	padding: 15px 0;
	width: 49%;
}

/************ customerservice ***************/

	.contents { min-height: 400px; padding : 0 0 80px 0; }
	/* 최상위 div class */
	
	.sub_content {
		padding : 45px 0 0 0;
		position : relative;
		width : 1200px;
	 	margin : 0 auto;
	 	min-height: 50em;
	}
	
	.sub_menu { padding : 7px 0 6px 10px; font-size : 14px;}
	.sub_menu a:hover { background : #f8f8f8; color:#1a2e2d; font-weight: bold; }
	
	.sub_menu_box {
	    padding: 0 0 14px 10px;
	 		    border-bottom: 1px solid #ececec;
	 		    min-height : 250px;
	}
	.sub_menu_box h4 { padding : 0 0 14px 10px; border-bottom: 1px solid #ececec; }
	
	.side_cont { float : left; width : 200px; }
	
	.info_box { padding : 0 0 0 10px; }
	.info_box dl { margin : 30px 0 0 0 ; }
	.info_box dt { padding : 8px 0 10px 0; }
	
	/* 왼쪽 부분 css */
	
	.content {
		position : relative;
		float: left;
	 		    width: 960px;
	 			padding: 0 0 0 40px;
	}
	
	.board_zone_sec { position: relative; }
	.board_zone_list { min-height : 500px; }
			
	.date_check_box {
	    margin: 0 0 35px 0;
	    padding: 20px 20px 20px 30px;
	    border: 3px solid #eeeeee;
	}
	
	.btn_date_check {
	    display: inline-block;
	    min-width: 100px;
	    height: 31px;
	    color: #ffffff;
	    font-weight: bold;
	    border: 1px solid #1a2e2d;
	    background: #1a2e2d;
	    text-align: center;
	}
	
	.date_faq_list { display: inline-block; width: 70%; }
	
	.date_faq_list h2 { padding: 0 0 10px 0; font-size: 1.25em; font-weight: bold; }
	
	.date_faq_list input[type="text"] { width: 70%;  padding: 0 10px;
	   outline: none; font-size: 12px; height: 31px; }
	
	.date_faq_txt {
	    display: inline-block;
	    width: 23%;
	    padding: 10px 0 10px 50px;
	    border-left: 1px solid #dbdbdb;
	    font-size: 13px;
	}
	
	/* 오른쪽 부분 css */
